[submodule ".registry"]
	path = .registry
	url = https://github.com/ecohealthalliance/ecohealthalliance.r-universe.dev
	branch = HEAD
[submodule "airtabler"]
	path = airtabler
	url = https://github.com/ecohealthalliance/airtabler
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow@apache-arrow-14.0.1
[submodule "containerTemplateUtils"]
	path = containerTemplateUtils
	url = https://github.com/ecohealthalliance/containerTemplateUtils
[submodule "deposits"]
	path = deposits
	url = https://github.com/ropenscilabs/deposits
	registered = false
[submodule "ehallm"]
	path = ehallm
	url = https://github.com/ecohealthalliance/ehallm
[submodule "ehastyle"]
	path = ehastyle
	url = https://github.com/ecohealthalliance/ehastyle
[submodule "fasterize"]
	path = fasterize
	url = https://github.com/ecohealthalliance/fasterize
[submodule "git2r"]
	path = git2r
	url = https://github.com/ropensci/git2r
	registered = false
[submodule "minioclient"]
	path = minioclient
	url = https://github.com/cboettig/minioclient
	registered = false
[submodule "relic"]
	path = relic
	url = https://github.com/ecohealthalliance/relic
